@page
@model WebPizzeria.Pages.OrdersModel
@{
}

<h3>Orders</h3>

<hr/>

<table class="table">
	<thead>
		<tr>
			<th>
				id
			</th>

			<th>
				Pizza Name
			</th>

			<th>
				Price
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var order in Model.pizzaOrders)
		{
			<tr>
				<th>
					@order.Id
				</th>
				<th>
					@order.PizzaName
				</th>
				<th>
					@order.BasePrice
				</th>
				<th></th>
			</tr>
		}
	</tbody>
</table>